@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: #f8f8f8; */
  /* background: linear-gradient(90deg, #ddfcff 50%, rgba(221, 252, 255, 0) 100%); */
  /* background: linear-gradient(90deg, #ddfcff 50%, rgba(221, 252, 255, 0) 100%); */



  /* background: rgb(10, 30, 68);
  background: linear-gradient(
    126deg,
    rgba(10, 30, 68, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  ); */

  background: rgb(10,30,68);
/* background: linear-gradient(126deg, rgba(10,30,68,1) 2%, rgba(255,255,255,1) 100%); */
background: linear-gradient(94deg, rgba(10,30,68,1) 2%, rgba(255,255,255,1) 100%);




  /* , url('./assets/images/CellPatternBg2.png') */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;

  /* background-image: url("./assets/images/CellPatternBg.png"); */
}

.rangInputs {
  /* accent-color: linear-gradient(90deg, #a6ccff 0%, #317bdb 100%); */
  accent-color: linear-gradient(90deg, #ffffff 0%, #19cded 100%);
}

/* For Chrome, Safari, Opera, and Edge  */
input[type="range"]::-webkit-slider-runnable-track {
  /* background: red; */
  /* background: linear-gradient(90deg, #A6CCFF 0%, #317BDB 100%); */

  border-radius: 10px;
  /* height: 0.5rem; */
}

/* For Firefox */
input[type="range"]::-moz-range-track {
  /* background: linear-gradient(90deg, #A6CCFF 0%, #317BDB 100%); */

  /* background: red; */
  /* height: 0.5rem; */
}

.forSvg:hover span svg path {
  fill: #317bdb !important;
}

.rangeColor {
  background: linear-gradient(90deg, #ffffff 0%, #19cded 100%);
}
.btnGraident2 {
  box-shadow: inset -3px -4px 4px 0 rgba(0, 0, 0, 0.15),
    inset 2px 2px 4px 0 rgba(224, 224, 224, 0.5);
}

.btnActive {
  /* background: linear-gradient(360deg, #317bdb 0%, #25d4e3 100%); */
  background: rgb(255, 117, 55);
  background: linear-gradient(
    0deg,
    rgba(255, 117, 55, 1) 86%,
    rgba(247, 246, 242, 1) 100%
  );
}

/* .btnGraident2:hover {
  background: linear-gradient(360deg, #317bdb 0%, #25d4e3 100%);
} */
.gradientBg {
  /* background: linear-gradient(90deg, #ddfcff 0%, rgba(221, 252, 255, 0) 100%); */
  background: transparent;
}
.accentColor {
  accent-color: #0A1E44 !important;
}
input[type="radio"] {
  appearance: none;
  width: 15px;
  height: 15px;
  border: 2px solid #0A1E44;
  border-radius: 50%;
  outline: none;
  background-color: white;
  cursor: pointer;
  padding: 1.5px;
}
input[type="radio"]:checked {
  background-color: #0A1E44;
}
.btnGraident {
  /* background: linear-gradient(360deg, #317bdb 0%, #25d4e3 100%); */
  background: rgb(255, 117, 55);
  background: linear-gradient(
    0deg,
    rgba(255, 117, 55, 1) 49%,
    rgba(247, 246, 242, 1) 100%
  );
}
.shadowsForMainWrapper {
  /* box-shadow: inset 3px 4px 4px 0px #e3e3e3, 4px 4px 4px 0px #d0d0d0,
    inset -5px -7px 4px 0px #ffffff40, -3px -4px 4px 0px #ffffff; */
  box-shadow: 0px 0px 4px 0px #00000040;
}

.inputShadow {
  box-shadow: inset 3px 4px 4px 0 #e3e3e3, inset -3px -4px 4px 0 #ffffff;
}
.shadowBTNs {
  box-shadow: inset -3px -4px 4px 0 rgba(0, 0, 0, 0.15),
    inset 2px 2px 4px 0 rgba(255, 255, 255, 0.5);
}
